@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Lowlands 2021 conference</h1>
    <p>
        <iframe src="https://sessionize.com/api/v2/vnxjxek7/view/SpeakerWall" height="2300px" width="1200px" frameborder="0"></iframe>
    </p>
</div>
